@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .secondary-font-color {
        color: #1a8efd;
    }
}

.navigation-links a{
    font-family: rubik,serif;
}

/* adding css to the hero container */
.hero-container{
    background: linear-gradient(206deg,#ecf2ff,#fbfcff);
}


/* what we do section */
.what-we-do-header::after{
    content: "";
    height: 5px;
    background-color: #9d2553;
    width: calc(100% - 50px);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.what-we-do-icon{

}