@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .secondary-font-color {
        color: #1a8efd;
    }
}

.navigation-links a{
    font-family: rubik,serif;
}

/* adding css to the hero container */
.hero-container{
    background: linear-gradient(206deg,#ecf2ff,#fbfcff);
}