@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .secondary-font-color {
        color: #1a8efd;
    }
}

.navigation-links a{
    font-family: rubik,serif;
}

/* adding css to the hero container */
.hero-container{
    background: linear-gradient(206deg,#ecf2ff,#fbfcff);
}


/* what we do section */
.what-we-do-header::after{
    content: "";
    height: 5px;
    background-color: #9d2553;
    width: calc(100% - 50px);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.what-we-do-icon{

}

/* why choose health section */

.why-choose-health-container{
    width: fit-content;
}

.why-choose-health::after{
    content: "";
    height: 5px;
    background-color: #9d2553;
    width: calc(100% - 50px);
    position: absolute;
    bottom: -5px;
    left: 0;
}

/* customer review section */
.customer-review-container{
    background: linear-gradient(90deg,#ecf2ff,#fbfcff);
}

.customer-review::before{
    content: "\201C";
    /*background-color: red;*/
    /*width: 100px;*/
    height: 100px;
    position: absolute;
    font-size: 40px;
    color: #178bff;
    left: 0;
    top: 0;
}

.customer-review::after{
    content: "\201D";
    /*background-color: red;*/
    /*width: 100px;*/
    height: 100px;
    position: absolute;
    font-size: 40px;
    color: #178bff;
    right: 0;
    /*bottom: 0;*/
}

/* doctor card */

.doctor-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.doctor-view-card-session{
    background-image: linear-gradient(to bottom right,#2c67d8,#2badc2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}